* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-color: #444; }

/*formulario contacto*/
.contenedor .form .form-header .form-title {
  font-weight: normal;
  font-family: sans-serif;
  color: #ff851b;
  text-align: center;
  padding: 14px 0; }

.contenedor .form .form-header .form-title span {
  background-color: #ff851b; }

.contenedor .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px; }

.contenedor .form .form-label {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: fantasy;
  position: relative; }

.contenedor .form .form-input, .form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: fantasy;
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.contenedor .form .btn-submit {
  width: 100%;
  font-family: Roboto;
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer; }

.contenedor .form .btn-submit:hover {
  background: #f29718; }

.susc {
  color: #fff; }

/*texto*/
.normal {
  font-style: normal; }

.negrita {
  font-weight: bold; }

.impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.centrar {
  text-align: center; }

.mayuscula {
  text-transform: uppercase; }

.capitalizar {
  text-transform: capitalize; }

/*galeria*/
.linea {
  background: #550b51;
  height: 5px;
  width: 100%;
  display: block; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden; }

.galeria a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3); }

.leght-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); }

.pf {
  color: #fff;
  font-size: 30px; }

/*seccion nosotros*/
.grid-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1em; }
  .grid-1 .grid-1__primero {
    background-color: #2a323b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding: 1em; }
    .grid-1 .grid-1__primero p span {
      color: red;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.grid-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1em; }
  .grid-2 .grid-2__segundo {
    background-color: #2a323b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding: 1em; }
  .grid-2 .grid-2__segundo:hover {
    border: 4px solid #ec38bc; }

#uno img {
  width: 100%;
  height: 500px;
  border: 2px solid blue;
  margin: 2px; }

/*media queries*/
/*phones*/
@media (min-width: 400px) and (max-width: 767px) {
  body {
    background-image: linear-gradient(#1d4350, #434343); }
  .grid-container {
    grid-template: "header" 100px
 "navbar" 50px
 "main"    auto
 "footer" 100px; } }

/*TABLE*/
@media (min-width: 600px) and (max-width: 991px) {
  body {
    background-image: linear-gradient(#1d4350, #434343); }
  .grid-container {
    grid-template: "header header" 100px
 "navbar navbar" 50px
 "main main"     auto
 "footer footer" 100px; } }

/*DESKTOP*/
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-image: linear-gradient(#1d4350, #434343); }
  .grid-container {
    grid-template: "header header header" 100px
 "navbar navbar"        50px
 "main main"            auto
 "footer footer footer" 100px; } }

/*DESKTOP LARGE*/
@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    background-image: linear-gradient(#1d4350, #434343); }
  .grid-container {
    grid-template: "header header header" 100px
 "navbar navbar"        50px
 "main main"            auto
 "footer footer footer" 100px; } }

/*GRID*/
.header {
  grid-area: header;
  background-image: linear-gradient(#1d4350, #434343); }

.navbar {
  grid-area: navbar;
  background-image: linear-gradient(#1d4350, #434343); }

.main {
  grid-area: main;
  background-image: linear-gradient(#1d4350, #434343); }

.footer {
  grid-area: footer;
  background-image: linear-gradient(#1d4350, #434343); }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas: "header"
 "navbar"
 "main"
 "footer"; }

/*tipografia*/
html {
  height: 100%; }

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  min-height: 100%; }

.body {
  margin: 0;
  min-height: 100vh;
  background-image: url(/img/frente3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.bg-dark {
  background: black;
  font-size: 22px; }

p {
  color: #fff; }

/* seccion home*/
.primera-seccion {
  color: #110831;
  position: relative;
  left: 10px;
  font-size: 20px; }
  .primera-seccion .primera-seccion {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1em;
    font-size: 20px; }
  .primera-seccion .primera-seccion__div {
    background: #2a323b;
    color: #fff;
    font-size: 20px;
    padding: 1em; }
  .primera-seccion .primera-seccion__div span {
    color: red; }
  .primera-seccion div:hover {
    border: 2px solid blue; }

.fondo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/*productos- balanceada*/
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  background: #fff; }

.card-text {
  color: #000; }

.productos-balanceados {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.productos-balanceados img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

/*productos-rascadores*/
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  background: #fff; }

.card-text {
  color: #000; }

.productos-rascadores {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.productos-rascadores img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

/*productos-ropa*/
.container {
  width: 100%;
  display: flex;
  max-width: 1100px; }

.card2 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  transition: all 400ms ease; }

.card2 img {
  width: 100%;
  height: 210px; }

.card2 .contenido {
  padding: 15px;
  text-align: center; }

.card2 .contenido p {
  line-height: 1.5;
  color: #6a6a6a; }

.card2 .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px; }

.card2 .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease; }

h1 {
  text-shadow: 1px 2px 2px black,0 0 25px blue, 0 0 5px blue;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px; }
  h1 p {
    color: #fff; }

h2 {
  text-shadow: 1px 2px 2px black,0 0 25px white, 0 0 5px white;
  text-align: left; }
  h2 p {
    color: #fff; }

/*productos-accesorios*/
.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden;
  background: #fff; }

.card-text {
  color: #000; }

.productos-accesorios {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.productos-accesorios img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

/*card envio*/
.container {
  width: 100%;
  display: flex;
  max-width: 1100px; }

.card1 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  cursor: default;
  transition: all 400ms ease; }

.card1:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.card1 img {
  width: 100%;
  height: 210px; }

.card1 .contenido {
  padding: 15px;
  text-align: center; }

.card1 .contenido p {
  line-height: 1.5;
  color: #6a6a6a; }

.card1 .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px; }

.card1 .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease; }
