@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif; }

.body {
  margin: 0;
  min-height: 100vh;
  background-image: url(/img/frente3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

/* seccion home*/
.primera-seccion {
  color: #110831;
  position: static;
  left: 10px;
  font-size: 20px; }
  .primera-seccion .primera-seccion {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 1em;
    font-size: 20px; }
  .primera-seccion .primera-seccion__div {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    color: #fff;
    font-size: 20px;
    padding: 1em; }
  .primera-seccion .primera-seccion__div span {
    color: red; }
  .primera-seccion div:hover {
    border: 2px solid blue; }

/*card-home*/
.container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.box {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5); }

.box .imgbx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.box .imgbx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s; }

.box:hover .imgbx img {
  opacity: 0; }

.box .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box; }

.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0; }

.box .content h3 {
  margin: 0;
  padding: 0;
  font-size: 20px; }

.box .content p {
  color: #000;
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify; }

.box:hover .content p {
  opacity: 1;
  transition-delay: 0.5s; }

.box .content a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease; }

/*titulos*/
h1 {
  text-shadow: 1px 2px 2px white,0 0 25px black, 0 0 5px black;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px; }
  h1 p {
    color: #fff; }

/*tipografia*/
html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #003e46;
  font-family: Arial, Helvetica, sans-serif; }

header {
  width: 100%;
  background-color: #444; }

/*formulario contacto*/
.contenedor .form .form-header .form-title {
  font-weight: normal;
  font-family: sans-serif;
  color: #ff851b;
  text-align: center;
  padding: 14px 0; }

.contenedor .form .form-header .form-title span {
  background-color: #ff851b; }

.form-title, h2 {
  color: #fff; }

.contenedor .form {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px; }

.contenedor .form .form-label {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: fantasy;
  position: relative; }

.contenedor .form .form-input, .form-textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ff851b;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  font-family: fantasy;
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.contenedor .form .btn-submit {
  width: 100%;
  font-family: Roboto;
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer; }

.contenedor .form .btn-submit:hover {
  background: #f29718; }

.susc {
  color: #fff; }

/*texto*/
.normal {
  font-style: normal; }

.negrita {
  font-weight: bold; }

.impact {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.centrar {
  text-align: center; }

.mayuscula {
  text-transform: uppercase; }

.capitalizar {
  text-transform: capitalize; }

/*galeria*/
.linea {
  background: #550b51;
  height: 5px;
  width: 100%;
  display: block; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  grid-gap: 10px;
  padding: 40px 0;
  overflow: hidden; }

.galeria a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s; }

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3); }

.leght-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform .3s;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0); }

.pf {
  color: #fff;
  font-size: 30px; }

/*seccion nosotros*/
.grid-1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1em; }
  .grid-1 .grid-1__primero {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding: 1em; }
    .grid-1 .grid-1__primero p span {
      color: red;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.grid-2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  gap: 1em; }
  .grid-2 .grid-2__segunda.capitalizar {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    padding: 1em; }
  .grid-2 .grid-2__segundo:hover {
    border: 4px solid #38c8ec; }

#uno img {
  width: 100%;
  height: 500px;
  border: 2px solid blue;
  margin: 2px; }

/*media queries*/
/*phones*/
@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%); }
  .grid-container {
    grid-template: "header header" 100px
 "navbar navbar" 50px
 "main main"     auto
 "footer footer" 100px; } }

/*TABLE*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%); }
  .grid-container {
    grid-template: "header header" 100px
 "navbar navbar" 50px
 "main main"     auto
 "footer footer" 100px; } }

/*DESKTOP*/
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%); }
  .grid-container {
    grid-template: "header header header" 100px
 "navbar navbar"        50px
 "main main"            auto
 "footer footer footer" 100px; } }

/*DESKTOP LARGE*/
@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%); }
  .grid-container {
    grid-template: "header header header" 100px
 "navbar navbar"        50px
 "main main"            auto
 "footer footer footer" 100px; } }

/*GRID*/
.header {
  grid-area: header; }

.navbar {
  grid-area: navbar; }

.main {
  grid-area: main;
  background-color: #f907fc;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%); }

.footer {
  grid-area: footer;
  background-color: #222121; }

.grid-container {
  display: grid;
  gap: 1px;
  grid-template-areas: "header"
 "navbar"
 "main"
 "footer"; }

/*productos*/
.section {
  width: 100%;
  min-height: 100vh;
  background-color: #eee; }

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto; }

.cards .new-arrival {
  width: 100%;
  margin-top: 20px; }

.cards .new-arrival h1 {
  text-align: center;
  font-size: 50px;
  color: #222;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px; }

.cards .new-arrival h1::after {
  content: "";
  height: 5px;
  width: 325px;
  background-color: #222;
  border-radius: 5px;
  display: block;
  margin: auto; }

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px black;
  width: 325px;
  text-align: center;
  margin: 25px;
  cursor: pointer;
  background-color: #fff; }

.image-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.image-section img {
  width: 100%;
  height: auto; }

.description {
  text-align: center;
  margin-top: 20px; }

.description h2 {
  font-size: 20px;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 2px;
  margin-top: 10px; }

.description p {
  font-size: 17px;
  letter-spacing: 1.5px;
  margin-top: 10px;
  color: #000; }

.description span {
  margin-left: 8px; }

.description del {
  margin-left: 7px;
  font-size: 15px;
  color: #f2533a; }

.button-group {
  margin-top: 30px; }

.button-group .buy {
  background-color: #1976d2;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff; }

.button-group .buy:hover {
  background-color: #0b348d;
  transition: 0.6s ease; }

.button-group .cart {
  background-color: #f2533a;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff; }

.button-group .cart:hover {
  background-color: #222;
  transition: 0.6s ease; }

.star-icons {
  margin-top: 20px;
  margin-bottom: 10px; }

.star-icons i {
  color: #db8b21;
  padding: 0px 3px;
  font-size: 18px; }

/*footer*/
a {
  text-decoration: none;
  transition: 5s;
  color: #fff; }

ul, li {
  list-style: none; }

footer {
  background: #222222;
  color: #fff; }

.footer-info {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0; }

.footer-info .footer_width {
  padding: 0 15px; }

.footer-info h4 {
  margin-bottom: 20px;
  padding: 1em; }

.about, .link, .contacto {
  right: 20px; }

.about, .contacto {
  width: 40%; }

.link {
  width: 20%; }

.redes-sociales {
  margin-top: 30px; }

.redes-sociales ul {
  display: flex; }

.redes-sociales ul li a {
  display: inline-block;
  margin-right: 50px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center; }

.redes-sociales img {
  width: 36px;
  height: 36px; }

.redes-sociales ul li a:hover {
  background-color: #fff;
  color: #000; }

.link ul li a {
  display: block;
  margin-bottom: 15px;
  font-size: 18px; }

.link ul li a:hover {
  color: #000; }

.contacto ul li {
  display: flex;
  align-items: center;
  margin-top: 20px; }

.contacto ul li span {
  margin-right: 15px; }

.contacto span img {
  width: 36px;
  height: 36px; }

.copy-rigth {
  padding: 15px 0;
  text-align: center;
  background-color: #424242; }

@media screen and (max-width: 992px) {
  .about, .contacto {
    width: 35%; }
  .link {
    width: 30%; } }

@media screen and (max-width: 767px) {
  .about, .contacto, .link {
    width: 100%;
    margin-bottom: 30px; }
  .footer-info {
    flex-direction: column; } }

/*navbar*/
.bg-dark {
  background: black;
  font-size: 22px; }

p {
  color: #fff; }
