    /*media queries*/
        
    /*phones*/
        
 @media (min-width: 400px) and (max-width: 767px) { 
        
        
        body{
            background-image: linear-gradient(#1d4350,#434343);
    }
    
    .grid-container{
        grid-template:
        "header" 100px
        "navbar" 50px
        "main"    auto
        "footer" 100px;
    }     
    }
            
        /*TABLE*/
     @media (min-width:600px) and (max-width:991px){
            
    body{
        background-image: linear-gradient(#1d4350,#434343);
    }
    .grid-container{
        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "main main"     auto
        "footer footer" 100px;
    }
    }
      
            
        /*DESKTOP*/
            
     @media (min-width:992px) and (max-width:1200px){
            
    body{ 
        background-image: linear-gradient(#1d4350,#434343);
    }
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar navbar"        50px
        "main main"            auto
        "footer footer footer" 100px;
    }
    }
            
        /*DESKTOP LARGE*/
            
    @media (min-width:1200px) and (max-width:1400px){
            
    body{
        background-image: linear-gradient(#1d4350,#434343);
    }
    .grid-container{
        grid-template:
        "header header header" 100px
        "navbar navbar"        50px
        "main main"            auto
        "footer footer footer" 100px;
    }
    }
    
