    /*productos- balanceada*/  

    .container{
        width: 100%;
        display: flex;
        max-width: 1100px;
    }
    .card4{
        width: 100%;
        margin: 20px;
        border-radius: 6px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
        cursor: default;
        transition: all 400ms ease;
    }
    .card4 img{
        width: 100%;
        height: 210px;
    }
    .card4 .contenido{
        padding: 15px;
        text-align: center;
    }
    .card4 .contenido p{
        line-height: 1.5;
        color: #6a6a6a;
    }
    .card4 .contenido h3{
        font-weight: 400;
        margin-bottom: 15px;
    }
    .card4 .contenido a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        color: #2fb4cc;
        border: 1px solid #2fb4cc;
        border-radius: 4px;
        transition: all 400ms ease;
    }

    /*productos-perros*/
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card6{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
}
.card6 img{
    width: 100%;
    height: 210px;
}
.card6 .contenido{
    padding: 15px;
    text-align: center;
}
.card6 .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card6 .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card6 .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}


/*productos-gatos*/
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card7{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
}
.card7 img{
    width: 100%;
    height: 210px;
}
.card7 .contenido{
    padding: 15px;
    text-align: center;
}
.card7 .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card7 .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card7 .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}


/*productos-rascadores*/
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card5{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
}
.card5 img{
    width: 100%;
    height: 210px;
}
.card5 .contenido{
    padding: 15px;
    text-align: center;
}
.card5 .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card5 .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card5 .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

/*productos-ropa*/
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card2{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
}

.card2 img{
    width: 100%;
    height: 210px;
}
.card2 .contenido{
    padding: 15px;
    text-align: center;
}
.card2 .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card2 .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card2 .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

/*productos-accesorios*/

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}
.card3{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    cursor: default;
    transition: all 400ms ease;
}
.card3 img{
    width: 100%;
    height: 210px;
}
.card3 .contenido{
    padding: 15px;
    text-align: center;
}
.card3 .contenido p{
    line-height: 1.5;
    color: #6a6a6a;
}
.card3 .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.card3 .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}