            /*texto*/

.normal{

    font-style: normal;
}
            
.negrita{
            
    font-weight: bold;
}
            
.impact{
            
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
            
.centrar{
            
    text-align: center;
}
            
.mayuscula{
            
    text-transform: uppercase;
}
            
.capitalizar{
            
    text-transform: capitalize;
}
        
