*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//import//
@import "home";
@import "title";
@import "tipografia";
@import "_variables";
@import "header";
@import "forms";
@import "textos";
@import "galeria";
@import "nosotros";
@import "media-queries";
@import "grid";
@import "productos";
@import "footer";

/*navbar*/
.bg-dark{
    
    background: black;
    font-size: 22px;
}
p{
    color: #fff;
}

