*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
//import//
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "home";
@import "title";
@import "tipografia";
@import "_variables";
@import "header";
@import "forms";
@import "textos";
@import "galeria";
@import "nosotros";
@import "media-queries";
@import "grid";
@import "productos";
@import "footer";

/*navbar*/
.bg-dark{
    
    background: black;
    font-size: 22px;
}
p{
    color: #fff;
}

