<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--cdn fontawesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/logo2.png" type="image" sizes="16x16">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Productos/Accesorios/Pet-shop</title>
</head>
<body class="grid-container">
    <header class="header">
            <!--inicio de listas-->
            <div class="container-fluid">
                <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt=""></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
            <!--fin de las listas-->
        </header>
        <article class="main">
                <!--card accesorios-->
                <div class="section">
                    <div class="cards">
                        <div class="new-arrival">
                            <h1>Accesorios</h1>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace1.jpg" alt="comedero para perros y gatos">
                            </div>
                            <div class="description">
                                <h2>Comedero El producto es fácil de limpiar y duradero</h2>
                                <p><b>Precio</b><span>$120</span><del>$150</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace2.jpg" alt="bebedero y comedero">
                            </div>
                            <div class="description">
                                <h2>Bebedero Y Comedero segun el uso que le des</h2>
                                <p><b>Precio</b><span>$2.500</span><del>$2.800</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace3.jpg" alt="comedero doble">
                            </div>
                            <div class="description">
                                <h2>Comedero Doble</h2>
                                <p><b>Precio</b><span>$200</span><del>$250</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace4-.jpg" alt="bandeja sanitaria para gatos">
                            </div>
                            <div class="description">
                                <h2>Bandeja Sanitaria Para Gatos Mediana</h2>
                                <p><b>Precio</b><span>$230</span><del>$250</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace5.jpg" alt="comedero para perros con ansias">
                            </div>
                            <div class="description">
                                <h2>Comedero Para Perro Ansioso</h2>
                                <p><b>Precio</b><span>$500</span><del>$570</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace6-.jpg" alt="bandeja sanitaria para gatos">
                            </div>
                            <div class="description">
                                <h2>Bandeja Sanitaria Para Gatos Mediana</h2>
                                <p><b>Precio</b><span>$280</span><del>$300</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace7.jpg" alt="shampoo para perros y gatos">
                            </div>
                            <div class="description">
                                <h2>Shampoo osspret x 250 ml</h2>
                                <p><b>Precio</b><span>$395</span><del>$420</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace8.jpg" alt="alimento para peces">
                            </div>
                            <div class="description">
                                <h2>SHULET CARASSIUS alimento para peces de agua fría</h2>
                                <p><b>Precio</b><span>$350</span><del>$400</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace9.jpg" alt="alimento para peces">
                            </div>
                            <div class="description">
                                <h2>SHULET TROPICAL Alimento para peces tropicales</h2>
                                <p><b>Precio</b><span>$400</span><del>$460</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace10.jpg" alt="shampoo para perros">
                            </div>
                            <div class="description">
                                <h2>Shampoo antipruriginoso, cicatrizante e hidratante</h2>
                                <p><b>Precio</b><span>$500</span><del>$570</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace11.jpg" alt="insecticida mata pulgas y garrapatas">
                            </div>
                            <div class="description">
                                <h2>TEA LARVOX aerosol Insecticida mata pulgas y garrapatas</h2>
                                <p><b>Precio</b><span>$750</span><del>$880</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace12.jpg" alt="shampoo para perros">
                            </div>
                            <div class="description">
                                <h2>SHAMPOO HIPOALERGÉNICO 250 cc</h2>
                                <p><b>Precio</b><span>$290</span><del>$320</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace13.jpg" alt="shampoo para perros">
                            </div>
                            <div class="description">
                                <h2>Shampoo Osspret Aqua Ecto x250</h2>
                                <p><b>Precio</b><span>$320</span><del>$340</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace14.jpg" alt="shampoo para perros">
                            </div>
                            <div class="description">
                                <h2>Shampoo y Crema de enjuague</h2>
                                <p><b>Precio</b><span>$425</span><del>$460</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace15.jpg" alt="shampoo para perros">
                            </div>
                            <div class="description">
                                <h2>Shampoo Tradicional Pulguicida Antiparasitario</h2>
                                <p><b>Precio</b><span>$395</span><del>$430</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace16.jpg" alt="harness para gatos">
                            </div>
                            <div class="description">
                                <h2>HARNESS FOR CAT</h2>
                                <p><b>Precio</b><span>$440</span><del>$490</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace17.jpg" alt="Juguete pelota anti Estres">
                            </div>
                            <div class="description">
                                <h2>pelota Anti-estrés</h2>
                                <p><b>Precio</b><span>$500</span><del>$560</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace18.jpg" alt="Juguete Hueso anti Estres">
                            </div>
                            <div class="description">
                                <h2>Juguete Hueso Dental</h2>
                                <p><b>Precio</b><span>$340</span><del>$395</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace19.jpg" alt="Juguete soga anti Estres">
                            </div>
                            <div class="description">
                                <h2>Juguete Para Perro Soga Con Pelota Anti Estres</h2>
                                <p><b>Precio</b><span>$500</span><del>$580</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace20.jpg" alt="Juguete pelota">
                            </div>
                            <div class="description">
                                <h2>Juguete Pelota De Rugby</h2>
                                <p><b>Precio</b><span>$430</span><del>$470</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace21.jpg" alt="Mamadera para cachorros">
                            </div>
                            <div class="description">
                                <h2>Mamaderas Plasticas Cachorros Y Gatitos</h2>
                                <p><b>Precio</b><span>$300</span><del>$330</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace22.jpg" alt="Juguete chupete con Cascabel">
                            </div>
                            <div class="description">
                                <h2>Juguete Chupete De Caucho Con Cascabel</h2>
                                <p><b>Precio</b><span>$450</span><del>$500</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace23.jpg" alt="Juguete Raton">
                            </div>
                            <div class="description">
                                <h2>Cancat Magic Cat Raton</h2>
                                <p><b>Precio</b><span>$5000</span><del>$570</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace24.jpg" alt="Juguete Hueso">
                            </div>
                            <div class="description">
                                <h2>Juguete Hueso</h2>
                                <p><b>Precio</b><span>$500</span><del>$540</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace25.jpg" alt="Juguete pelota con Luces">
                            </div>
                            <div class="description">
                                <h2>Pelotita Juguete Erizo Luces</h2>
                                <p><b>Precio</b><span>$300</span><del>$360</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace26.jpg" alt="Juguete de Hueso">
                            </div>
                            <div class="description">
                                <h2>Juguete Hueso Chifle</h2>
                                <p><b>Precio</b><span>$200</span><del>$275</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace27.jpg" alt="Juguete anti Estres">
                            </div>
                            <div class="description">
                                <h2>Juguete Para Perro Hueso De Soga Anti Estrés</h2>
                                <p><b>Precio</b><span>$560</span><del>$600</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace28.jpg" alt="Juguete anti Estres">
                            </div>
                            <div class="description">
                                <h2>juguete Soga Con Pelota Anti Estres</h2>
                                <p><b>Precio</b><span>$600</span><del>$670</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace29.jpg" alt="Juguete para perros anti Estres">
                            </div>
                            <div class="description">
                                <h2>juguetes Cancat Aro Doble Con Soga</h2>
                                <p><b>Precio</b><span>$1.370</span><del>$1.560</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace30.jpg" alt="Juguete Hueso">
                            </div>
                            <div class="description">
                                <h2>Juguete Hueso de goma</h2>
                                <p><b>Precio</b><span>$300</span><del>$340</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace31.jpg" alt="Juguete de rana">
                            </div>
                            <div class="description">
                                <h2>Cancat Magic Cat Ranita</h2>
                                <p><b>Precio</b><span>$370</span><del>$395</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace32.jpg" alt="Peine para perros y gatos">
                            </div>
                            <div class="description">
                                <h2>Peine Metálico Doble Para Perros Y Gatos</h2>
                                <p><b>Precio</b><span>$380</span><del>$430</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace33.jpg" alt="Juguete anti Estres">
                            </div>
                            <div class="description">
                                <h2>Juguete Cancat</h2>
                                <p><b>Precio</b><span>$330</span><del>$380</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace34.jpg" alt="Peine para perro y gatos">
                            </div>
                            <div class="description">
                                <h2>Peine Madera Para Mascotas Dos En Uno</h2>
                                <p><b>Precio</b><span>$450</span><del>$500</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace35.jpg" alt="Manopla para perros y gatos">
                            </div>
                            <div class="description">
                                <h2>Manopla</h2>
                                <p><b>Precio</b><span>$300</span><del>$370</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace36.jpg" alt="Manopla para perros y gatos">
                            </div>
                            <div class="description">
                                <h2>Manopla</h2>
                                <p><b>Precio</b><span>$280</span><del>$320</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace37.jpg" alt="Peine para perros y gatos">
                            </div>
                            <div class="description">
                                <h2>Cardina Plástica</h2>
                                <p><b>Precio</b><span>$320</span><del>$350</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace38.jpg" alt="Mamadera para cachorros">
                            </div>
                            <div class="description">
                                <h2>Mamaderas Plasticas Cachorros Y Gatitos</h2>
                                <p><b>Precio</b><span>$300</span><del>$380</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace39.jpg" alt="comedero de Acero">
                            </div>
                            <div class="description">
                                <h2>Comedero Acero Inox</h2>
                                <p><b>Precio</b><span>$650</span><del>$750</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace40.jpg" alt="gel CHAMPU">
                            </div>
                            <div class="description">
                                <h2>GEL CHAMPU PARA PERROS Y GATOS</h2>
                                <p><b>Precio</b><span>$890</span><del>$970</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/cor.jpg" alt="correas para perros">
                            </div>
                            <div class="description">
                                <h2>Correa</h2>
                                <p><b>Precio</b><span>$600</span><del>$670</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/camas.jpg" alt="Moises camas">
                            </div>
                            <div class="description">
                                <h2>Cama Moises</h2>
                                <p><b>Precio</b><span>$2.500</span><del>$2.700</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/camas-2.jpg" alt="Moises camas">
                            </div>
                            <div class="description">
                                <h2>Cama Moises Mascotas Medium</h2>
                                <p><b>Precio</b><span>$3.700</span><del>$4.100</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/ace41.jpg" alt="Alfombra sanitaria para perros">
                            </div>
                            <div class="description">
                                <h2>Alfombra Sanitaria Max Compact Mascotas X5u</h2>
                                <p><b>Precio</b><span>$1.100</span><del>$1.400</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="image-section">
                                <img src="/img/cama-4.webp" alt="Colchoneta camas">
                            </div>
                            <div class="description">
                                <h2>Colchoneta Gigante</h2>
                                <p><b>Precio</b><span>$1.200</span><del>$1.600</del></p>
                            </div>
                            <div class="button-group">
                                <a href="#" class="buy">Buy</a>
                                <a href="#" class="cart">Add To Cart</a>
                            </div>
                            <div class="star-icons">
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star"></i></a>
                                <a href=""><i class="fas fa-star-half-alt"></i></a>
                                <a href=""><i class="far fa-star"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
<!--footer-->
<footer class="footer">
    <div class="footer-info">
        <div class="footer_width about">
            <h4>Mas informacion de la compañia</h4>
            <p>Desde nuestros inicios hemos participado interactivamente con nuestros clientes teniendo como objetivo satisfacer y exceder sus necesidades</p>
            <div class="redes-sociales">
                <ul>
                    <img src="/img/facebook.png" alt="">
                    <img src="/img/twitter.png" alt="">
                    <img src="/img/instagram.png" alt="">
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h4>Links Útiles</h4>
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Servicios</li>
                <li><a href="#"></a>Preguntas más Frecuentes</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </div>
        <div class="footer_width contacto">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <span><img src="https://image.flaticon.com/icons/png/512/684/684908.png" alt=""></span>
                    <p>Dean funes 2177</p>
                </li>
                <li>
                    <span><img src="/img/contact.png" alt=""></span>
                    <a href="">petshop.morela@gmail.com</a>
                </li>
                <li>
                    <span><img src="/img/smartphone.png" alt=""></span>
                    <a href="">4308-1600</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-rigth">
        <p> © 2021 Todos los Derechos Reservados -
            Diseño y Desarrollo Carlos gonzalez</p>
    </div>
    </footer>
<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
