<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/logo2.png" type="image" sizes="16x16">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Productos/Accesorios/Pet-shop</title>
</head>
<body class="grid-container">
    
    <header class="header">
            <!--inicio de listas-->

            <div class="container-fluid">

                <div class="row">
        
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt=""></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
        
            <!--fin de las listas-->

        </header>
        <article class="main">
        
        <h1>Acesorios</h1>
                <!--card accesorios-->
    
                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace1.jpg" alt="comedero para perros y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Comedero</h3>
                            <p>El producto es fácil de limpiar y duradero</p>
                            <a href="#">$ 120</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace2.jpg" alt="bebedero y comedero">
                        </figure>
                        <div class="contenido">
                            <h3>Bebedero Y Comedero</h3>
                            <p>Bebedero y comedero segun el uso que le des</p>
                            <a href="#">$ 2500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace3.jpg" alt="comedero doble">
                        </figure>
                        <div class="contenido">
                            <h3>Comedero Doble</h3>
                            <p>El producto es fácil de limpiar y duradero</p>
                            <a href="#">$ 200</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace4-.jpg" alt="bandeja sanitaria para gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Bandeja Sanitaria</h3>
                            <p>Bandeja Sanitaria Para Gatos Mediana</p>
                            <a href="#">$ 230</a>
                            <a href="">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace5.jpg" alt="comedero para perros con ansias">
                        </figure>
                        <div class="contenido">
                            <h3>Comedero Para Perro Ansioso</h3>
                            <p>Este comedero ayuda su mascota a regular la velocidad en la que ingiere su alimento</p>
                            <a href="#">$ 500</a>
                            <a href="">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace6-.jpg" alt="bandeja sanitaria para gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Bandeja Sanitaria</h3>
                            <p>Bandeja Sanitaria Para Gatos Mediana</p>
                            <a href="#">$ 280</a>
                            <a href="">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace7.jpg" alt="shampoo para perros y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Shampoo</h3>
                            <p>Shampoo osspret x 250 ml.</p>
                            <a href="#">$ 395 </a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace8.jpg" alt="alimento para peces">
                        </figure>
                        <div class="contenido">
                            <h3>SHULET CARASSIUS</h3>
                            <p>alimento para carassius y otros peces de agua fría. Contiene la totalidad de los nutrientes necesarios para una alimentación completa</p>
                            <a href="#">$ 350</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace9.jpg" alt="alimento para peces">
                        </figure>
                        <div class="contenido">
                            <h3>SHULET TROPICAL</h3>
                            <p>Alimento en escamas para peces tropicales
                                Una nueva formula combina los tradicionales ingredientes junto con nuevas materias primas que potencian el valor nutritivo de este alimento, logrando escamas de alto valor nutricional</p>
                            <a href="#">$ 400</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace10.jpg" alt="shampoo para perros">
                        </figure>
                        <div class="contenido">
                            <h3>Shampoo</h3>
                            <p>antipruriginoso, cicatrizante e hidratante, esta indicado para todo tipo de pieles ya que conserva la humedad sin engrasar la piel lo que favorece el mantenimiento de una piel sana en las mascotas</p>
                            <a href="#">$ 500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace11.jpg" alt="insecticida mata pulgas y garrapatas">
                        </figure>
                        <div class="contenido">
                            <h3>TEA LARVOX</h3>
                            <p>TEA LARVOX es un aerosol Insecticida mata pulgas y garrapatas. Tiene acción larvicida. Para control en el ambiente. No aplique sobre animales.</p>
                            <a href="#">$ 750</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace12.jpg" alt="shampoo para perros">
                        </figure>
                        <div class="contenido">
                            <h3>SHAMPOO </h3>
                            <p>SHAMPOO HIPOALERGÉNICO MEDICADO OSSPRET 250 cc</p>
                            <a href="#">$ 290</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace13.jpg" alt="shampoo para perros">
                        </figure>
                        <div class="contenido">
                            <h3>Shampoo</h3>
                            <p>Shampoo Osspret Aqua Ecto x250</p>
                            <a href="#">$ 320</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace14.jpg" alt="shampoo para perros">
                        </figure>
                        <div class="contenido">
                            <h3>Shampoo y Crema de enjuague</h3>
                            <p>Shampoo osspret para perros 2 en 1 pulguicida garrapaticida Para perro no usar en cachorros de menos de 4 meses 250ml</p>
                            <a href="#">$ 425</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace15.jpg" alt="shampoo para perros">
                        </figure>
                        <div class="contenido">
                            <h3>Shampoo</h3>
                            <p>Shampoo Tradicional Pulguicida Antiparasitario Perro Osspret</p>
                            <a href="#">$ 395</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace16.jpg" alt="harness para gatos">
                        </figure>
                        <div class="contenido">
                            <h3>HARNESS FOR CAT</h3>
                            <p>Pretal para Gato regulable con Correa</p>
                            <a href="#">$ 440</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace17.jpg" alt="Juguete pelota anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>pelota</h3>
                            <p>Pelotas Anti-estrés</p>
                            <a href="#">$ 500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace18.jpg" alt="Juguete Hueso anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Hueso Dental Juguete Para Perros Anti Estres</p>
                            <a href="#">$ 340</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace19.jpg" alt="Juguete soga anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete.</h3>
                            <p>Juguete Para Perro Soga Con Pelota Anti Estres</p>
                            <a href="#">$ 500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace20.jpg" alt="Juguete pelota">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete.</h3>
                            <p>Para Perro  Pelota De Rugby</p>
                            <a href="#">$ 430</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace21.jpg" alt="Mamadera para cachorros">
                        </figure>
                        <div class="contenido">
                            <h3>Mamadera </h3>
                            <p>Mamaderas Plasticas Cachorros Y Gatitos</p>
                            <a href="#">$ 300</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace22.jpg" alt="Juguete chupete con Cascabel">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p> Chupete De Caucho Con Cascabel Para Perros/p>
                            <a href="#">$ 450</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace23.jpg" alt="Juguete Raton">
                        </figure>
                        <div class="contenido">
                            <h3>Cancat Magic cat</h3>
                            <p>Cancat Magic Cat Raton</p>
                            <a href="#">$ 500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace24.jpg" alt="Juguete Hueso">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Hueso Juguete Para Perro</p>
                            <a href="#">$ 500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace25.jpg" alt="Juguete pelota con Luces">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Pelotita Juguete Erizo Luces</p>
                            <a href="#">$ 300</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace26.jpg" alt="Juguete de Hueso">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Juguete Hueso Chifle </p>
                            <a href="#">$ 200</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace27.jpg" alt="Juguete anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete.</h3>
                            <p>Juguete Para Perro Hueso De Soga Anti Estrés</p>
                            <a href="#">$ 560</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace28.jpg" alt="Juguete anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Para Perro Soga Con Pelota Anti Estres</p>
                            <a href="#">$ 600</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace29.jpg" alt="Juguete para perros anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>juguetes</h3>
                            <p>Para Perros Cancat Aro Doble Con Soga</p>
                            <a href="#">$ 1.370</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace30.jpg" alt="Juguete Hueso">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Hueso de goma</p>
                            <a href="#">$ 300</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace31.jpg" alt="Juguete de rana">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete</h3>
                            <p>Cancat Magic Cat Ranita</p>
                            <a href="#">$ 370</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace32.jpg" alt="Peine para perros y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Peine</h3>
                            <p>Peine Metálico Doble Para Perros Y Gatos</p>
                            <a href="#">$ 380</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace33.jpg" alt="Juguete anti Estres">
                        </figure>
                        <div class="contenido">
                            <h3>Juguete Cancat</h3>
                            <p>Anti Estres</p>
                            <a href="#">$ 330</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace34.jpg" alt="Peine para perro y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Cepillo Doble </h3>
                            <p>Peine Madera Para Mascotas Dos En Uno</p>
                            <a href="#">$ 450</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace35.jpg" alt="Manopla para perros y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Manopla</h3>
                            <p>Cepillo Quita Pelo Para Perro Gato</p>
                            <a href="#">$ 300</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace36.jpg" alt="Manopla para perros y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Manopla</h3>
                            <p>Cepillo Quita Pelo Para Perro Gato</p>
                            <a href="#">$ 280</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace37.jpg" alt="Peine para perros y gatos">
                        </figure>
                        <div class="contenido">
                            <h3>Cardina Plástica</h3>
                            <p>Removedor Pelos Automático Gde Perros Gatos</p>
                            <a href="#">$ 320</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace38.jpg" alt="Mamadera para cachorros">
                        </figure>
                        <div class="contenido">
                            <h3>Mamaderas</h3>
                            <p>Plasticas Cachorros Y Gatitos</p>
                            <a href="#">$ 300</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace39.jpg" alt="comedero de Acero">
                        </figure>
                        <div class="contenido">
                            <h3>Comedero</h3>
                            <p>Acero Inox</p>
                            <a href="#">$ 650</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/ace40.jpg" alt="gel CHAMPU">
                        </figure>
                        <div class="contenido">
                            <h3>GEL CHAMPU</h3>
                            <p>PARA PERROS Y GATOS</p>
                            <a href="#">$ 890</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/cor.jpg" alt="correas para perros">
                        <div class="contenido">
                            <h3>Correa</h3>
                            <p>2 Metros Perro Ideal</p>
                            <a href="#">$ 600</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/camas.jpg" alt="Moises camas">
                        </figure>
                        <div class="contenido">
                            <h3>Cama Moises</h3>
                            <p>Gato/perro 70x10x52</p>
                            <a href="#">$ 2.500</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="card3">
                        <figure>
                            <img src="/img/camas-2.jpg" alt="Moises camas">
                        </figure>
                        <div class="contenido">
                            <h3>Cama Moises</h3>
                            <p>Para Mascotas Medium</p>
                            <a href="#">$3.700</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/ace41.jpg" alt="Alfombra sanitaria para perros">
                        <div class="contenido">
                            <h3>Paño Pet</h3>
                            <p>Alfombra Sanitaria Max Compact Mascotas X5u </p>
                            <a href="#">$1.100</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
            
                    <div class="card3">
                        <figure>
                            <img src="/img/cama-4.webp" alt="Colchoneta camas">
                        </figure>
                        <div class="contenido">
                            <h3>Colchoneta</h3>
                            <p>Gigante!! Para Perros</p>
                            <a href="#">$ 1.200</a>
                            <a href="#">Agregar al carrito</a>
                        </div>
                    </div>
                </div>

            </article>
<!--footer-->

<footer class="footer">
    <div class="footer-info">
        <div class="footer_width about">
            <h4>Mas informacion de la compañia</h4>
            <p>Desde nuestros inicios hemos participado interactivamente con nuestros clientes teniendo como objetivo satisfacer y exceder sus necesidades</p>
            <div class="redes-sociales">
                <ul>
                    <img src="/img/facebook.png" alt="">
                    <img src="/img/twitter.png" alt="">
                    <img src="/img/instagram.png" alt="">
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h4>Links Útiles</h4>
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Servicios</li>
                <li><a href="#"></a>Preguntas más Frecuentes</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </div>
        <div class="footer_width contacto">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <span><img src="https://image.flaticon.com/icons/png/512/684/684908.png" alt=""></span>
                    <p>Dean funes 2177</p>
                </li>
                <li>
                    <span><img src="/img/contact.png" alt=""></span>
                    <a href="">petshop.morela@gmail.com</a>
                </li>
                <li>
                    <span><img src="/img/smartphone.png" alt=""></span>
                    <a href="">4308-1600</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-rigth">
        <p> © 2021 Todos los Derechos Reservados -
            Diseño y Desarrollo Carlos gonzalez</p>
    </div>
    </footer>

<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>
