<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--cdn fontawesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/logo2.png" type="image" sizes="16x16">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Productos/Balanceada/Pet-shop</title>
</head>
<body class="grid-container">
    <header class="header">
            <!--inicio de listas-->
            <div class="container-fluid">
                <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt=""></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
            <!--fin de las listas-->
        </header>
        <article class="main">
        <div class="section">
            <div class="cards">
                <div class="new-arrival">
                    <h1>Balanceada</h1>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-1.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Purina Proplan Active Mind 7+ Adultos 3kg</h2>
                        <p><b>Precio</b><span>$3970</span><del>$4000</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-2.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Gastrointestinal X 2kg</h2>
                        <p><b>Precio</b><span>$1.990</span><del>$2100</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-3.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Pedigree Raza Pequeña 15 Kg</h2>
                        <p><b>Precio</b><span>$2.550</span><del>$2.680</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-4.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Belcan Adulto 22kg</h2>
                        <p><b>Precio</b><span>$1.850</span><del>$2250</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-5.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Old Prince para raza mediana/grande sabor cordero en bolsa de 15 kg</h2>
                        <p><b>Precio</b><span>$4.020</span><del>$4.100</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-6.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Yorkshire 28 Adulto X 3kg</h2>
                        <p><b>Precio</b><span>$1.665</span><del>$1800</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-7.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Mini Weight Care</h2>
                        <p><b>Precio</b><span>$2.590</span><del>$2.800</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-8.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Size Health Nutrition Mini Adult 3kg</h2>
                        <p><b>Precio</b><span>$1.520</span><del>$1.680</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-9.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Proplan Adulto Raza Mediana X 15kg</h2>
                        <p><b>Precio</b><span>$5.820</span><del>$5.950</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-10.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Purina Pro Plan Reduce Calorias x 15kg</h2>
                        <p><b>Precio</b><span>$6.430</span><del>$6.600</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-11.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Pro Plan OptiDerma Sensitive Skin Adult raza mediana/grande 3kg</h2>
                        <p><b>Precio</b><span>$1.700</span><del>$1.800</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-12.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Pro Plan Sensitive Skin Pequeño 7,5 Kg</h2>
                        <p><b>Precio</b><span>$4.100</span><del>$4.300</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-13.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Proplan Reduced Calorie Raza Pequeña 7,5kg</h2>
                        <p><b>Precio</b><span>$3.950</span><del>$4.100</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-14.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Excellent Adulto Reduce Calorias 3kg</h2>
                        <p><b>Precio</b><span>$1.120</span><del>$1.350</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-15.webp" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Eukanuba Weight raza mediana 15kg</h2>
                        <p><b>Precio</b><span>$4.490</span><del>$4.600</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-16.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Satiety Support 15kg</h2>
                        <p><b>Precio</b><span>$7.500</span><del>$7.700</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-per-17.jpg" alt="Alimento balanceado para perros">
                    </div>
                    <div class="description">
                        <h2>Galgo Adul. 22 Kg</h2>
                        <p><b>Precio</b><span>$2.080</span><del>$2.200</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-1.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Vitalcan Balanced 7.5kg</h2>
                        <p><b>Precio</b><span>$2.700</span><del>$2.870</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-2.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Excellent Kitten 7.5kg</h2>
                        <p><b>Precio</b><span>$3.300</span><del>$3.600</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-3.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Cat Exigent</h2>
                        <p><b>Precio</b><span>$1.500</span><del>$1.600</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-4.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Feline 1.5 kg</h2>
                        <p><b>Precio</b><span>$1.200</span><del>$1.400</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-5.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Hairball Care 1,5 Kg</h2>
                        <p><b>Precio</b><span>$1.270</span><del>$1.380</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-6.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Hair & Skin 2kg</h2>
                        <p><b>Precio</b><span>$2.000</span><del>$2.170</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-7.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Pro Plan OptiFit Reduced Calorias 7.5 kg</h2>
                        <p><b>Precio</b><span>$5.010</span><del>$5.190</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-8.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Proplan Kitten 3 Kg</h2>
                        <p><b>Precio</b><span>$2.710</span><del>$2.880</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-9.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Pro Plan Urinary</h2>
                        <p><b>Precio</b><span>$8.899</span><del>$9.000</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/bal-gat-10.jpg" alt="Alimento balanceado para gatos">
                    </div>
                    <div class="description">
                        <h2>Excellent 15kg</h2>
                        <p><b>Precio</b><span>$6.530</span><del>$6.700</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
<!--footer-->
<footer class="footer">
    <div class="footer-info">
        <div class="footer_width about">
            <h4>Mas informacion de la compañia</h4>
            <p>Desde nuestros inicios hemos participado interactivamente con nuestros clientes teniendo como objetivo satisfacer y exceder sus necesidades</p>
            <div class="redes-sociales">
                <ul>
                    <img src="/img/facebook.png" alt="">
                    <img src="/img/twitter.png" alt="">
                    <img src="/img/instagram.png" alt="">
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h4>Links Útiles</h4>
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Servicios</li>
                <li><a href="#"></a>Preguntas más Frecuentes</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </div>
        <div class="footer_width contacto">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <span><img src="https://image.flaticon.com/icons/png/512/684/684908.png" alt=""></span>
                    <p>Dean funes 2177</p>
                </li>
                <li>
                    <span><img src="/img/contact.png" alt=""></span>
                    <a href="">petshop.morela@gmail.com</a>
                </li>
                <li>
                    <span><img src="/img/smartphone.png" alt=""></span>
                    <a href="">4308-1600</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-rigth">
        <p> © 2021 Todos los Derechos Reservados -
            Diseño y Desarrollo Carlos gonzalez</p>
    </div>
    </footer>
<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
