<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/logo2.png" type="image" sizes="16x16">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Productos/Gatos/Pet-shop</title>
</head>
<body class="grid-container">
    
    <header class="header">
            <!--inicio de listas-->

            <div class="container-fluid">

                <div class="row">
        
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt=""></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
        
            <!--fin de las listas-->

        </header>

        <article class="main">

        <h1 class="impact centrar mayuscula">GATOS</h1>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat.jpg" alt="POUCH ALIMENTO HUMEDO para gatos">
                </figure>
                <div class="contenido">
                    <h3>Felix</h3>
                    <p>Pouch Gato Sardina En Salsa</p>
                    <a href="#">$60</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat2.jpg" alt="POUCH ALIMENTO HUMEDO para gatos">
                <div class="contenido">
                    <h3>Purina</h3>
                    <p>Cat Chow Pouch</p>
                    <a href="#">$65</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat3.jpg" alt="Antiparasitario para prevencion  de las infestaciones por pulgas">
                </figure>
                <div class="contenido">
                    <h3>Advocate</h3>
                    <p>Gatos Hasta 4 Kg</p>
                    <a href="#">$780</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat4.jpg" alt="POUCH ALIMENTO HUMEDO para gatos">
                </figure>
                <div class="contenido">
                    <h3>Whiskas</h3>
                    <p>En Lata Sabor Atun X 340 Grs</p>
                    <a href="#">$185</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat5.jpg" alt="POUCH ALIMENTO HUMEDO para gatos">
                <div class="contenido">
                    <h3>Whiskas</h3>
                    <p>Lata Adulto Carne</p>
                    <a href="#">$175</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat6.jpg" alt="Collar para gatos con antiparasitario">
                </figure>
                <div class="contenido">
                    <h3>COLLAR</h3>
                    <p>ANTIPULGAS ECTHOL</p>
                    <a href="#">$700</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat7.jpg" alt="Antiparasitario para gatos">
                </figure>
                <div class="contenido">
                    <h3>Total full</h3>
                    <p>Antiparasitario interno en suspensión oral</p>
                    <a href="#">$500</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat8.jpg" alt="solución  bucal para perros y gatos">
                <div class="contenido">
                    <h3>DENTAL PLAX</h3>
                    <p>ANTISÉPTICO BUCAL EN SOLUCIÓN PARA PERROS Y GATOS</p>
                    <a href="#">$790</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat9.jpg" alt="piedras sanitarias de silica gel para gatos">
                </figure>
                <div class="contenido">
                    <h3>Wipup</h3>
                    <p>Piedritas Sanitarias Para Gatos</p>
                    <a href="#">$6.960</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat10.jpg" alt="piedras sanitarias para gatos">
                </figure>
                <div class="contenido">
                    <h3>Altagama</h3>
                    <p>Piedritas sanitarias Absorsol Negra 6ux3,6kg</p>
                    <a href="#">$1.190</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat11.jpg" alt="piedras sanitarias para gatos">
                <div class="contenido">
                    <h3>Rubicat</h3>
                    <p>Classic Arena Aglomerante</p>
                    <a href="#">$1.250</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat12.jpg" alt="piedras sanitarias para gatos">
                </figure>
                <div class="contenido">
                    <h3>Michi Feliz</h3>
                    <p>Piedras Sanitarias</p>
                    <a href="#">$585</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat13.jpg" alt="piedras sanitarias para gatos">
                </figure>
                <div class="contenido">
                    <h3>The Best</h3>
                    <p>Piedras Sanitarias Absorbentes Para Gato X 2kg</p>
                    <a href="#">$200</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat14.jpg" alt="piedras sanitarias para gatos">
                <div class="contenido">
                    <h3>Absorsol</h3>
                    <p>Piedras Sanitarias 2kg</p>
                    <a href="#">$300</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat15.jpg" alt="piedras sanitarias para gatos">
                </figure>
                <div class="contenido">
                    <h3>Absorso</h3>
                    <p>Piedras Sanitarias 2k X 6unid</p>
                    <a href="#">$850</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat16.jpg" alt="piedras sanitarias Perfume a Lavanda">
                </figure>
                <div class="contenido">
                    <h3>Alta Gama</h3>
                    <p>2 Kg Perfume Lavanda Piedras Sanitarias</p>
                    <a href="#">$</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat17.jpg" alt="producto ecológico a base de PELLETS DE MADERA">
                <div class="contenido">
                    <h3>Poopy Pet</h3>
                    <p>X 25 Kg Piedras Sanitarias Biodegradables Kangoo</p>
                    <a href="#">$988</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat18.jpg" alt="pala Recolectora Residuos">
                </figure>
                <div class="contenido">
                    <h3>Pala</h3>
                    <p>Sanitaria Para Gatos</p>
                    <a href="#">$270</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card7">
                <figure>
                    <img src="/img/gat-per.jpg" alt="Leche En Polvo">
                </figure>
                <div class="contenido">
                    <h3>Maternil Fort</h3>
                    <p>Leche En Polvo X 250 Grs</p>
                    <a href="#">$520</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat-per2.jpg" alt="pipeta para pilgas">
                <div class="contenido">
                    <h3>Frontline</h3>
                    <p>Spray X 250 Ml</p>
                    <a href="#">$2.580</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
    
            <div class="card7">
                <figure>
                    <img src="/img/gat-per3.jpg" alt="collar perros y gatos">
                </figure>
                <div class="contenido">
                    <h3>Collar</h3>
                    <p>para perros y gatos</p>
                    <a href="#">$180</a>
                    <a href="#">Agregar al carrito</a>
                </div>
            </div>
        </div>

    </article>

<!--footer-->

<footer class="footer">
    <div class="footer-info">
        <div class="footer_width about">
            <h4>Mas informacion de la compañia</h4>
            <p>Desde nuestros inicios hemos participado interactivamente con nuestros clientes teniendo como objetivo satisfacer y exceder sus necesidades</p>
            <div class="redes-sociales">
                <ul>
                    <img src="/img/facebook.png" alt="">
                    <img src="/img/twitter.png" alt="">
                    <img src="/img/instagram.png" alt="">
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h4>Links Útiles</h4>
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Servicios</li>
                <li><a href="#"></a>Preguntas más Frecuentes</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </div>
        <div class="footer_width contacto">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <span><img src="https://image.flaticon.com/icons/png/512/684/684908.png" alt=""></span>
                    <p>Dean funes 2177</p>
                </li>
                <li>
                    <span><img src="/img/contact.png" alt=""></span>
                    <a href="">petshop.morela@gmail.com</a>
                </li>
                <li>
                    <span><img src="/img/smartphone.png" alt=""></span>
                    <a href="">4308-1600</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-rigth">
        <p> © 2021 Todos los Derechos Reservados -
            Diseño y Desarrollo Carlos gonzalez</p>
    </div>
    </footer>

<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>
