<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/nv.jpg" type="image" sizes="16x16">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Productos/Perros/Pet-shop</title>
</head>
<body>
    

    <header>
            <!--inicio de listas-->

            <div class="container-fluid">

                <div class="row">
        
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt=""></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
        
        
            <!--fin de las listas-->

        </header>

        <h1>PERROS</h1>


















<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>