<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--cdn fontawesome-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/logo2.png" type="image" sizes="16x16">
    <!--bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <!--css-->
    <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Productos/Perros/Pet-shop</title>
</head>
<body class="grid-container">
    <header class="header">
            <!--inicio de listas-->
            <div class="container-fluid">
                <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt=""></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
            <!--fin de las listas-->
        </header>
        <article class="main">
        <div class="section">
            <div class="cards">
                <div class="new-arrival">
                    <h1>Perros</h1>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Hueso De Cuero</h2>
                        <p><b>Precio</b><span>$200</span><del>$220</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per2.jpg" alt="Golosina para perro">
                    </div>
                    <div class="description">
                        <h2>Grisines de Cuero</h2>
                        <p><b>Precio</b><span>$45</span><del>$50</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per3.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Orejas De Cuero</h2>
                        <p><b>Precio</b><span>$40</span><del>$50</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per4.jpg" alt="Golosina para perro">
                    </div>
                    <div class="description">
                        <h2>Hueso De Cuero Blanco</h2>
                        <p><b>Precio</b><span>$145</span><del>$150</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per5.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Hueso</h2>
                        <p><b>Precio</b><span>$40</span><del>$50</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per6.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Recovery para perro adulto</h2>
                        <p><b>Precio</b><span>$300</span><del>$350</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per7.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Canin Renal</h2>
                        <p><b>Precio</b><span>$330</span><del>$350</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per8.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Royal Cani Recovery para perro adulto</h2>
                        <p><b>Precio</b><span>$300</span><del>$320</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per9.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Pedigree</h2>
                        <p><b>Precio</b><span>$180</span><del>$200</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per10.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Frutales</h2>
                        <p><b>Precio</b><span>$150</span><del>$180</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per11.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Carne/pollo/chocolate</h2>
                        <p><b>Precio</b><span>$120</span><del>$140</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per12.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Jamon/queso/espinaca</h2>
                        <p><b>Precio</b><span>$120</span><del>$140</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per13.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Golosinas Frutales</h2>
                        <p><b>Precio</b><span>$440</span><del>$470</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per14.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Palitos Sabor Pollo X 450 Gs</h2>
                        <p><b>Precio</b><span>$480</span><del>$500</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per15.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Chocolate C/leche X 500 Grs</h2>
                        <p><b>Precio</b><span>$460</span><del>$490</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per16.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Galletita Biscuits De Pollo X 500 Grs</h2>
                        <p><b>Precio</b><span>$460</span><del>$480</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per17.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Palitos Sabor Pollo X 5 Unidades</h2>
                        <p><b>Precio</b><span>$80</span><del>$100</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per18.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Palitos Sabor Carne X 5 Unidades</h2>
                        <p><b>Precio</b><span>$97</span><del>$120</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per19.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Pedigree Biscrok Multi X 500 Grs</h2>
                        <p><b>Precio</b><span>$370</span><del>$390</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per20.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Hueso Horneado Golocan Carne</h2>
                        <p><b>Precio</b><span>$55</span><del>$70</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per21.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Pedigree Rodeo</h2>
                        <p><b>Precio</b><span>$115</span><del>$125</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per22.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Pedigree Dentastix Razas Medianas</h2>
                        <p><b>Precio</b><span>$120</span><del>$130</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per23.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Dog Chow Salud Oral</h2>
                        <p><b>Precio</b><span>$110</span><del>$130</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per24.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Dog Chow Salud Oral Perros Minis Y Pequeños</h2>
                        <p><b>Precio</b><span>$105</span><del>$115</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per25.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Galletitas Cholitas 500g</h2>
                        <p><b>Precio</b><span>$225</span><del>$240</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per26.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Golocan De Pollo 2kg</h2>
                        <p><b>Precio</b><span>$1.990</span><del>$2.200</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per27.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Bocaditos Golocan De Carne 2kg</h2>
                        <p><b>Precio</b><span>$1.990</span><del>$2.200</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per28.jpg" alt="Golosina para perros">
                    </div>
                    <div class="description">
                        <h2>Pouch Pedigree Adulto Carne En Salsa</h2>
                        <p><b>Precio</b><span>$60</span><del>$75</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per29.jpg" alt="Collar anti-pulgas">
                    </div>
                    <div class="description">
                        <h2>ecthol Collar con antiparasitario pulgas y garrapatas</h2>
                        <p><b>Precio</b><span>$700</span><del>$800</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per30.jpg" alt="repelente pulgas y garrapatas">
                    </div>
                    <div class="description">
                        <h2>PERFOS MAX pulgas y garrapatas</h2>
                        <p><b>Precio</b><span>$2.200</span><del>$2.350</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per31.jpg" alt="para el tratamiento y control de pultas, garrapatas y piojos">
                    </div>
                    <div class="description">
                        <h2>Frontline Plus Perro Chico</h2>
                        <p><b>Precio</b><span>$750</span><del>$850</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per32.jpg" alt="Antiparasitario para prevencion  de las infestaciones por pulgas">
                    </div>
                    <div class="description">
                        <h2>Advocate Perros 4 A 10 Kg</h2>
                        <p><b>Precio</b><span>$800</span><del>$850</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/per33.jpg" alt="Antiparasitario para prevencion  de las infestaciones por pulgas">
                    </div>
                    <div class="description">
                        <h2>Advocate Perros 4 A 10 Kg</h2>
                        <p><b>Precio</b><span>$840</span><del>$900</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/gat-per.jpg" alt="Leche En Polvo">
                    </div>
                    <div class="description">
                        <h2>Maternil Fort Leche En Polvo X 250 Grs</h2>
                        <p><b>Precio</b><span>$520</span><del>$630</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/gat-per2.jpg" alt="pipeta para pilgas">
                    </div>
                    <div class="description">
                        <h2>Frontline Spray X 250 Ml</h2>
                        <p><b>Precio</b><span>$2.580</span><del>$2.820</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
                <div class="card">
                    <div class="image-section">
                        <img src="/img/gat-per3.jpg" alt="collar perros y gatos">
                    </div>
                    <div class="description">
                        <h2>Collar para perros y gatos</h2>
                        <p><b>Precio</b><span>$180</span><del>$195</del></p>
                    </div>
                    <div class="button-group">
                        <a href="#" class="buy">Buy</a>
                        <a href="#" class="cart">Add To Cart</a>
                    </div>
                    <div class="star-icons">
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star"></i></a>
                        <a href=""><i class="fas fa-star-half-alt"></i></a>
                        <a href=""><i class="far fa-star"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
<!--footer-->
<footer class="footer">
    <div class="footer-info">
        <div class="footer_width about">
            <h4>Mas informacion de la compañia</h4>
            <p>Desde nuestros inicios hemos participado interactivamente con nuestros clientes teniendo como objetivo satisfacer y exceder sus necesidades</p>
            <div class="redes-sociales">
                <ul>
                    <img src="/img/facebook.png" alt="">
                    <img src="/img/twitter.png" alt="">
                    <img src="/img/instagram.png" alt="">
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h4>Links Útiles</h4>
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Servicios</li>
                <li><a href="#"></a>Preguntas más Frecuentes</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </div>
        <div class="footer_width contacto">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <span><img src="https://image.flaticon.com/icons/png/512/684/684908.png" alt=""></span>
                    <p>Dean funes 2177</p>
                </li>
                <li>
                    <span><img src="/img/contact.png" alt=""></span>
                    <a href="">petshop.morela@gmail.com</a>
                </li>
                <li>
                    <span><img src="/img/smartphone.png" alt=""></span>
                    <a href="">4308-1600</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-rigth">
        <p> © 2021 Todos los Derechos Reservados -
            Diseño y Desarrollo Carlos gonzalez</p>
    </div>
    </footer>
<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>
