<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PET SHOP Morela, ofrece un amplia variedad de alimentos ,juguetes, accesorios etc">
    <meta name="keywords" content="pet shop,perros,gatos,alimento balanceado,acesorios,Ropa">
    <link rel="icon" href="/img/logo2.png" type="image" sizes="16x16">
        <!--bootstrap cdn-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
            <!--css-->
        <link rel="stylesheet" href="/css/estilo.css">
            <!--google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap" rel="stylesheet">
    <title>Contacto/Pet-shop/Morela</title>
</head>
<body class="grid-container">
    
    <header class="header">
            <!--inicio de listas-->

            <div class="container-fluid">

                <div class="row">
        
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="/img/logo2.png" width="50" alt="logo"></a></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="/views/Nosotros.html">Nosotros</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/views/Productos.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                            </a>
                            <ul class="dropdown-menu navbar-light bg-" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/views/submenu/Balanceada.html">Balanceada</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Perros.html">Perros</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/views/submenu/Gatos.html">Gatos</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Rascadores.html">Rascadores</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Ropa.html">Ropa</a></li>
                                <li><a class="dropdown-item" href="/views/submenu/Accesorios.html">Accesorios</a></li>
                            </ul>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link " href="/views/Galeria.html">Galeria</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active " href="/views/Contacto.html">Contacto</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        </div>
                    </div>
                    </nav>
                </div>
                </div>
                
            <!--fin de las listas-->

        </header>
<article class="main">
        <h1 class="impact centrar mayuscula">Formulario de Contacto</h1>

                <!--formulario-->
                    

                <div class="contenedor">
                    <form action="" class="form">
                        <div class="form-header">
                        <h2 class="form.title">C<span>ontacto</span></h2> 
                        </div>
                        <label for="nombre" class="form-label"> Nombre: </label>
                        <input type="text" id="nombre" class="form-input" placeholder="Escriba su nombre">
            
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" id="apellido" class="form-input" placeholder="Escriba su apellido">
            
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="dorm-input" id="direccion" placeholder="Escriba su direccion">
            
                        <label for="correo" class="form-label"> Correo Electronico</label>
                        <input type="email" class="form-input" id="correo"placeholder="Escriba su correo">
            
                        <label for="mensaje" class="form-label"> Mensaje</label>
                        <textarea id="mensaje" class="form-tectarea" placeholder="Aqui su mensaje"></textarea>
            
                        <input type="submit" class="btn-submit" value="Enviar consulta">
            
                        <div class="susc">Acepto los terminos y condiciones 
            
                            <input type="checkbox" name="acepta" value="1"></div>
                            <div class="ratio ratio-4x3">                      
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.7213531181555!2d-58.40619608519408!3d-34.63648126673853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb11b3a5820b%3A0xad6c3eab4ef9cec1!2sDean%20Funes%202177%2C%20C1244AAS%20CABA!5e0!3m2!1ses!2sar!4v1622909137254!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                    </form>
                    </div>
                </section>

            </article>
<!--footer-->

<footer class="footer">
    <div class="footer-info">
        <div class="footer_width about">
            <h4>Mas informacion de la compañia</h4>
            <p>Desde nuestros inicios hemos participado interactivamente con nuestros clientes teniendo como objetivo satisfacer y exceder sus necesidades</p>
            <div class="redes-sociales">
                <ul>
                    <img src="/img/facebook.png" alt="imagen de facebook">
                    <img src="/img/twitter.png" alt="imagen de twitter">
                    <img src="/img/instagram.png" alt="imagen de instagram">
                </ul>
            </div>
        </div>
        <div class="footer_width link">
            <h4>Links Útiles</h4>
            <ul>
                <li><a href="#"></a>Home</li>
                <li><a href="#"></a>Nosotros</li>
                <li><a href="#"></a>Servicios</li>
                <li><a href="#"></a>Preguntas más Frecuentes</li>
                <li><a href="#"></a>Contacto</li>
            </ul>
        </div>
        <div class="footer_width contacto">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <span><img src="https://image.flaticon.com/icons/png/512/684/684908.png" alt="map maker"></span>
                    <p>Dean funes 2177</p>
                </li>
                <li>
                    <span><img src="/img/contact.png" alt="imagen de contacto"></span>
                    <a href="">petshop.morela@gmail.com</a>
                </li>
                <li>
                    <span><img src="/img/smartphone.png" alt="imagen de smarphone"></span>
                    <a href="">4308-1600</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-rigth">
        <p> © 2021 Todos los Derechos Reservados -
            Diseño y Desarrollo Carlos gonzalez</p>
    </div>
    </footer>

<!--cdn bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>
